html{
    background: #F2F2F2;
}
body{
    width: 1120px;
    height: 368px;

}
.container{

height: 368px;
background-color: #F8F8F8;
border-top-color: #D9FFF5;
}

.items{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
}

.item{
    height: 72px;
    width: 240px;
    margin-left: 32px;
    margin-top: 16px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
}

.text{
margin-left: 32px;
font-family: 'TT Lakes';
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: #7E7E82;
}

.wrapper{
height: 56px;
width: 1120px;
border-top: 1px solid #D9FFF5;
background-color: #FFFFFF;;
}

@media (max-width: 768px){
    .item:nth-child(11){
        display: none;
    }
    .item:nth-child(10){
        display: none;
    }
    .item:nth-child(9){
        display: none;
    }
    .item:nth-child(8){
        display: none;
    }
    .item:nth-child(7){
        display: none;
    }

}